body{
  background-color: rgb(56, 56, 56);
}


.text{
  color: aqua;
}

#subButton{
  background-color: black;
  color: aqua;
}

#numOpeInput{
  color: red;
  
  background-color: rgb(7, 6, 6);
}
.myButton {
  margin: 20px;
  min-width: 20px;
  min-height: 20px;
}
